#headerContainer{
  background-color: rgba(25, 124, 167, 0.804);
}
#nav-row{
  display: grid;
  grid-template-columns: 40% auto;
  grid-gap: 5%;
  #header_list{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    nav{
      margin: 0;
      padding: 0;
      .NavLink{
         color: white;
          text-transform: capitalize;
          list-style-type: none;
          text-decoration: none;
          border-right: 1px solid white;
          padding: 20px 20px;
          font-weight: 600;
      }
      .NavLink:hover{
        color: black;
        background-color: white;
      }
      .NavLink:nth-child(1){
        border-left: 1px solid white;
      }
    }
  }
}

#drop-down{
  display: none;
}
.Homepage{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  padding: 20px 20px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
}

#landselection{
  background-color: white;
  margin: 0;
  padding: 0;
  #child{
    margin: 0;
    padding: 0;
    #child-tab{
      margin: 0;
      border-right: 1px solid lightgray;
      padding: 10px 10px;
      #landselectionchild{
        text-decoration: none !important;
      }
    }
    #child-tab:hover{
      background-color: whitesmoke;
      color: white;
      border-bottom: none !important;
    }
  }
}
