#header_list{
    nav{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .NavLink{
            margin: 0px 20px;
            list-style-type: none;
            color: white;
            padding: 5px 8px;
        }
        .NavLink:hover{
            background-color: black;
            color: whitesmoke !important;
            // padding: 5px 8px;
            border-radius: 3px;
            border: 2px solid lightfuchsia !important;
            transition: 1000ms cubic-bezier(0.39, 0.575, 0.565, 1);
        }
    }
}
.Homepage{
    font-size: 20px;
    text-transform: uppercase;
}
a{
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 14px;
    color: white !important;
    font-weight: 500;
}