.imagecards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 60px 20px;
  grid-template-rows: 450px;
  grid-auto-rows: 450px;
    padding: 20px 20px;
  .card{
    background-color: white;
    border-radius: 5px;
    border: none !important;
    .card-header,.card-body,.card-footer{
      margin: 0;
      padding: 0;
    }
    .card-header{
      height: 40%;
      width: 100%;
      img{
        margin: 0;
        padding: 0;
        width: 100%;
        height:100%;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      img:hover{
        transform: scale(0.95);
      }
    }
    .card-body{
      display: block;
      padding: 10px 10px;
      height: 40%;
      h2{
        font-size: 1.2rem;
        font-weight: bold;
        line-height: 2.0rem;
        margin: 0;
        padding: 0;
        text-transform: capitalize;
      }
      h1:nth-child(1){
        height: 20%;
      }
      h2:nth-child(2){
        color:blue;
        height: 20%;
      }
      p{
        font-size: 14px;
        height: 60%;
        width: 100%;
        font-family: "Roboto";
        color: gray;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-word;
      }
    }
    .card-footer{
      height: 10%;
      width: 100%;
      background-color: white;
      display: flex;
      padding: 5px 5px;
      justify-content: flex-start;
      img{
        margin:0;
        padding: 4px 4px;
        width: 14%;
        height: 100%;
        border-radius: 50%;
      }
      }
    }
}

#d-flex{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
  input{
    border: 1px solid lightgray !important;
    background-color: whitesmoke;
  }
  input::placeholder{
    color: gray;
    text-transform: capitalize;
    font-size: 14px;
  }
}