#Login{
    display: flex;
    justify-content: center;
   .loginchild{
       width: 400px;
       font-family: 'Oswald', sans-serif;
       font-family: 'Roboto Condensed', sans-serif;
   }
}
label{
    margin:10px 0px;
    font-weight: 400;
    text-transform: capitalize;
}
input{
    height: 60px;
    border: 1px solid lightgray;
    outline: none;
    box-shadow: 0px !important;
}

label::before{
    content: "*";
    color: red;
    margin-right: 5px;

}


#secretQuestion{
    display: none;
}

input:required:invalid,textarea:required:invalid{
    border:2px solid red; 
}

input:valid,textarea:valid{
    border: 1px solid #0d6efd !important;

}
input::after{
    content: "fill in the field above";
    font-size: 14px;
    color: lightgray;
}