body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black !important;
}

nav{
    display: flex;
    justify-content: flex-start;
    #Navlink{
        color: gray !important;
        font-size: 15px;
        font-family: 'Roboto', sans-serif,'Times New Roman', Times, serif;
        margin: 15px 10px;
        font-weight: 700;
        text-transform: capitalize;
        border: 2px solid lightgray;
        background-color: whitesmoke;
        padding: 10px 20px;
        border-radius: 20px;
    }
   
    #Navlink:hover{
        background-color:black;
        color: white !important;
    }
      
    
}