body{
    margin: 0;
    padding: 0;

}

#navhead{
    display: grid;
    grid-template-columns: 70% auto;
    padding: 10px 10px;
    margin: 0px;

    #navhead-child{
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px;
            #Navlink{
                list-style: none;
                text-decoration: none;
                color: black;
                font-size: 15px;
                text-transform: capitalize;
                color: gray;
                padding: 14px 10px;
                border-right: 1px solid lightgray;
                background-color: white;
            }
            #Navlink:hover{
                color: black;
                background-color: lightgray;
            }
        }
    }
}