#row{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto;
    padding: 0;
    margin: 0;
    background-color: white;
    margin-top: 20px;
    #side{
        background-color: whitesmoke;
        color: teal;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: start;
        div{
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: 40px;
            h2{
                padding: 20px 20px;
                font-size: 18px;
                margin: 0;
                text-transform: capitalize;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            h2:hover{
                background-color: white;
                color: black;
                cursor: pointer;
                border-top-left-radius: 50%;
                border-bottom-right-radius: 50%;
                border: 1px solid teal;
            }
        }
    } 
    #main{
        margin: 0;
        padding: 0;
        form{
            padding: 10px 20px;
            #address-section,#amenities-section{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                grid-gap: 30px;
            }
            #details-section{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 10px 20px;
            }
            #description-section{
                display:block;
            }
            #address-section,#details-section,#amenities-section{
                display: none;
            }
            #amenities-section{
                display: "grid";
                grid-template-columns: 100%!important;
                #ams > #cahp{
                    font-weight: 600;
                    color: black;
                    font-size: 16px;
                }
                #ams{
                    width: 100%;
                    display: grid;
                    margin: 0;
                    padding: 0;
                    grid-template-columns: 100%;
                    grid-gap: 10px;
                    #gein{
                        display: grid;
                        grid-template-columns: repeat(6,1fr);
                        #selector{
                            display: grid;
                            grid-template-columns: 10% auto;
                            align-items: center;
                        }

                    }
                }
                
                    
            }
            section{
                div{
                   label{
                       text-transform: capitalize;
                       color: gray;
                   } 
                   input,select{
                       height: 50px;
                       outline: none;
                       border: none;
                       background-color: whitesmoke;
                   }
                   textarea{
                       height: 100px;
                       resize: none;
                       background-color: whitesmoke;
                   }
                   button{padding: 10px 30px;color: white;text-transform: capitalize;}
                }
                div:last-child{
                    display: block;
                }
            }
        }
    }
}


.active{
    background-color: teal !important;
    color: white;
}


#buttonchains{
    display: grid;
    grid-template-columns: repeat(2,1fr) !important;
    // grid-gap: 20px 100px !important;
    width: 100%;
    margin: 0;
    button{
        margin-right: 50px;
    }
}